*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #333;
    min-height: 100vh;
}
.container{
    position: absolute;
    top: 12rem;
}
.bulb{
   position: relative; 
   width: 80px;
   height: 80px;
   background: #444;
   border-radius: 50%;

}

.bulb span:nth-child(1){
    position:absolute;
    top:-12px;
    left:-0.4rem;
    display: block;
    width: 30px;
    height:30px;
    background:transparent;
    transform: rotate(342deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444;
}
.bulb span:nth-child(2){
    position:absolute;
    top:-16px;
    right:-0.2rem;
    display: block;
    width: 30px;
    height:30px;
    background:transparent;
    transform: rotate(17deg);
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #444;
}

.bulbp{
    position: absolute;
    top:-3rem;
    left:1.3rem;
    width: 35px;
    height:80px;
    border-top: 30px solid #000;
    border-radius: 10px;
    background:#444;
    
}

.wire{
    position: absolute;
    left: calc(50% - 2px) ;
    bottom: 50%;
    width: 5px;
    height: 40vh;
    background-color: #000;
}
label{
    position: relative;
    width: 150px;
    height: 75px;
    top:12rem;
    background: #212121;
    border-radius: 10px;
}

label input{
    appearance: none;
}

label span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left:0;
    width: 75px;
    height: 75px;
    background: #333;
    border: 6px solid #212121;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.5s;
}

label input:checked ~ span{
    left:75px;
    cursor: pointer;
}

label span ion-icon{
    color: rgba(255, 255, 255, 0.25 );
    font-size: 2em;
}

label input:checked ~ span ion-icon{
    
   color: rgba(255,255,255,1);
   filter: drop-shadow(0 0 5px #fff)  drop-shadow(0 0 10px #fff)  drop-shadow(0 0 15px #fff);
}


/*daylight*/

.active{
    background: radial-gradient(#555, #444);
}

.active .bulbp{
    position: absolute;
    top:-3rem;
    left:1.3rem;
    width: 35px;
    height:80px;
    border-top: 30px solid #000;
    border-radius: 10px;
    background:#444;
}